# Setting the prefix from C-b to C-a
set -g prefix C-a

# Free the original Ctrl-b prefix keybinding
unbind C-b

# Use Alt-arrow keys without prefix key to swith panes
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# Shift arrow to switch windows
bind -n S-Left previous-window
bind -n S-Right previous-window

# Set the base index for windows to 1 instead of 0
set -g base-index 1

# Set the base index for panes to 1 instead of 0
set -g pane-base-index 1

# Set bind key to reload configuration file
bind r source-file ~/.tmux.conf \; display "Reloaded!"

# Splitting panes with | and -
bind | split-window -h
bind - split-window -v

# Enable mouse support
set -g mouse on

# Set vi as the default editor
set -g status-keys vi

# Set the status line's colors
set -g status-style fg=withe,bg=blue

# Set different background color for actvie window
set -g window-status-current-bg magenta

